bin
inc
*.o
*.obj
makefile_*
globox_bin_v*
res/angle
res/objconv
res/eglproxy
res/egl_headers
res/wayland_headers
res/icon/iconpix.bin
ci/*/log
ci/osxcross_build_image/volumes
ci/osxcross_build_image/scripts/pkg
ci/globox_image_osxcross/scripts/sdk
valgrind.log
drmemory.log
